html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    background-color: #1f2937;
}

.navi {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.nav-button {
    flex-basis: 10%;
    margin-bottom: 10px;
    border: 1px solid #dbdcdd;
    border-radius: 15px;
    text-align: center;
}

.container {
    background-color: #e7e9eb;
    border-radius: 10px;
    border: solid 1px #fff;
    width: 350px;
}

.screen {
    background-color: #fff;
    font-size: 30px;
    text-align: right;
    padding: 25px;
    overflow: auto;
    width: 349px;
}

.calcbuttons {
    margin-top: 35px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2%;
}

.n-button {
    flex-basis: 25%;
    font-size: 24px;
    height: 81px;
    border-radius: 10px;
    border: 1px solid #dbdcdd;
}

.n-button:last-child {

}

.n-button:last-child:hover {

}

.n-button:hover {

}

.n-button:active {

}

.wide {
    flex-basis: 50%;
}