html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    background-color: #1f2937;
}

.container {
    background-color: #e7e9eb;
    border-radius: 10px;
    border: solid 1px #fff;
    width: 350px;
}

.display {
    height: 135px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: #e7e9eb;
    font-size: 36px;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2%;
}

.buttons button {
    flex-basis: 25%;
    font-size: 24px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #dbdcdd;
    cursor: pointer;
}

.buttons .wide {
    flex-basis: 50%;
}

.buttons button:hover {
    transform: scale(1.05);
    border: solid 1px #999898;
}

.buttons button:active {
    transform: scale(0.96);
}
